/*general site styls*/

html {
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, serif;
}

body {
	box-sizing: border-box;
	margin: 0;
	width: 100%;
}

h1 {
    margin: 2rem auto 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #0e3a5e;
    padding: 0rem 3rem;
}

body > div > section.contact > h1 {
	background-color: #0e3a5e;
	margin-bottom: 0px;
	padding: 2rem;
	color: #f4ea05;
}

.schedule {
	margin: 2rem;
}

.scheduleDay {
	width: 100%;
	background-color: #eee;
	height: 80px;
}

.scheduleSlotBooked {
	background-color: #333;
	height: 5rem;
	text-align: center;
	padding: 2rem;
	color: white;
	vertical-align: middle;
	line-height: 5rem;
}

.scheduleSlot {
	height: 5rem;
	text-align: center;
	padding: 2rem;
	color: white;
	vertical-align: middle;
	line-height: 5rem;
}

.booked {
	background-color: #333;
}

.free {
		background-color: green;
	}

/*wrapper style*/

.site {
	background-color: #b9cde6;
	border-left: 8rem solid #eee;
	border-right: 8rem solid #eee;

}

.siteLoad {
	border: 2rem solid #a81f2a;
}

/*styles for branding at the top*/

img.logo {
	max-width: 75%;
	margin: 15rem 5rem 2rem;
}

.company {
	text-align: center;
	height: 100%;
}


/*// styles for the "quick hits" area uses flexbox to eaisly center everything*/


.manFacts {
	background-color: #b9cde6;
	height: 18rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.fact {
	height: 12rem;
	width: 18rem;
	margin: 2rem;
	background-color: rgba(255, 255, 255, .34);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.fact > p {
	color: #0e3a5e;
	text-align: center;
	font-size: 1.75rem;
	font-weight: bold;
	text-transform: uppercase;
	padding: 2rem;
}

p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.label {
	margin: 3rem 0 1rem 0;
}



/*contact area styles*/

/*#0e3a5e - dark blue*/
/*#f4ea05 - bright yellow*/
/*#72a1ce - light blue*/
/*#a81f2a - red*/


.generalInfo {
	position: relative;
	margin: 0 auto;
	background-color: #f4ea05;
	padding: 4rem;
}

.stickyButton {
	position: fixed;
	background-color: #a81f2a;
	text-align: center;
	color: white;
	/*padding-top: 1rem;*/
	top: 1.75rem;
	right: 4rem;
	border-radius: 100px;
	height: 8rem;
	width: 8rem;
	box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.14);
	border: 0px;

	line-height: 20px;
}

.guarantee {
	text-align: center;
}


.bigField {
	height: 120px;
	background-color: white;
}


.field {
	display: block;
	text-align: center;
	margin: 1rem auto 4rem;
	width: 100%;
	border: 3px solid #0e3a5e;
	/*color: white;*/
}

.field:focus {
	color: yellow;
}

input:focus {
	background-color: #72a1ce;
	color: #f4ea05;
	-webkit-appearance: normal;
	user-select: normal;
}

.regularField {
	height: 40px;
	background-color: white;
}


.primaryButton {
	margin: 2rem auto 0px;
	bottom: 0px;
	width: 100%;
	height: 120px;
	background-color: #0e3a5e;
	color: white;
}

.primaryButton:focus {
	height: 130px;
	background-color: #0e3a5e;
}


@media (max-width: 480px){


img.logo {
	max-width: 80%;
	margin: 10rem 0rem 4rem;
}

.site {
	border: 0px;
}

.stickyButton {
	height: 4rem;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0rem;
	right: 0rem;
	border-radius: 0px;

/*	bottom: 0px;
	width: 100%;
	height: 5rem;
	background-color: #a81f2a;
	color: white;
	top: initial;
	right: initial;
	border-radius: 0;
	border: 0px;
	box-shadow: 2px	*/
}

.site {
	border-left: 0rem solid #eee;
	border-right: 0rem solid #eee;

}
}



::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}

:-ms-input-placeholder {
   color: black;
}
/*
